@import "@trussworks/react-uswds/lib/uswds.css";
@import "@trussworks/react-uswds/lib/index.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}
html,
body {
  height: 100%;
  margin: 0px; /* Remove default margin */
  padding: 5; /* Remove default padding */
}

body {
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background-color: var(--background);
  font-family: sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
